
project_id = "pdfzguzhtvdfxvulobyv"

[api]
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
port = 54323

[inbucket]
port = 54324
smtp_port = 54325
pop3_port = 54326

[auth]
site_url = "https://www.souvieshelf.com"
additional_redirect_urls = ["https://www.souvieshelf.com", "https://www.souvieshelf.com/auth", "https://www.souvieshelf.com/collection"]
jwt_expiry = 3600
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10

[storage]
file_size_limit = "50MiB"

[[publications]]
name = "supabase_realtime"
publish = "public"
subscribe = "public"

[realtime]
webhook_event_timeout_ms = 1000
